.top-bar {
    padding: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.separator {
    width: 2px;
    height: 24px;
    background-color: var(--text-color);
    margin: 0 8px;
}

.my-name {
    font-weight: 500;
    color: var(--text-color);
}

.version, .advanced-features {
    color: var(--text-color);
}

.title {
    font-weight: bold;
    color: var(--text-color);
}

.logout-button {
    color: var(--text-color) !important;
}

.add-photo-button{
    color: var(--text-color) !important;
}

#choose-photo-icon{
    color: var(--accent-hover-color) !important;
}

#photo-upload-dialog{
    color: black !important;
}

.dialog-title{
    color: var(--text-color-hover) !important;
    font-family: 'Star Jedi', sans-serif;
}

.dialog-button{
    color: var(--accent-hover-color) !important;
}