* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: scroll;
    overflow-y: scroll;
    flex-wrap: nowrap;
}

.picker-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 420px;
    margin: 20px auto;
    box-shadow: 0 10px 30px #373737;
    border-radius: 10px;
    background-color: #ffffff;
}

.calender-header {
    height: 5vh;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    background-color: #5213d8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.calender-header-day-month-year {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.2ch;
    text-align: center;
    flex-grow: 1;
}

.calender-header-prev-month,
.calender-header-next-month {
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0 15px;
}

.calender-area {
    height: 75%;
    width: 100%;
    background-color: #e6e6e6;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    text-align: center;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    color: #373737;
    border: 1px solid #ccc;
    vertical-align: middle;
}

th {
    background-color: #5213d8;
    color: #ffffff;
    padding: 10px 15px;
}

td {
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    line-height: 35px;
}

td:hover {
    background-color: #d1d1d1;
    color: #000000;
}

.calender-day-selected {
    background-color: #5213d8;
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    width: 90%;
    height: 80%;
    line-height: normal;
    text-align: center;
    padding: 15px;
    margin-top: 5px;
    box-sizing: border-box;
}

.calender-day-selected::before {
    content: "";
    display: block;
    padding-top: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: #5213d8;
    z-index: -1;
}

.calender-day-dimmed {
    background-color: #d8d8dc;
}

.calender-header-prev-month:hover,
.calender-header-next-month:hover {
    color: #d1d1d1;
    transition: color 0.3s ease;
}

@media (max-width: 768px) {
    .picker-parent {
        height: auto;
    }

    .calender-header-day-month-year {
        font-size: 1.2rem;
    }

    th, td {
        padding: 10px;
        font-size: 0.9rem;
    }

    td {
        padding: 10px 5px;
    }

    .calender-day-today {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 480px) {
    .calender-header-prev-month, .calender-header-next-month {
        font-size: 1.2rem;
        padding: 0 10px;
    }

    th, td {
        padding: 8px;
        font-size: 0.8rem;
    }

    .calender-day-today {
        width: 30px;
        height: 30px;
    }
}
