.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
    position: relative;
    transition: background-image 1s ease-in-out;
    z-index: 2;
}

.header-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slideIn 1s ease-out;
}

.naruto {
    background-size: 100% auto;
    background-position-y: 57%;
    opacity: 90%;
}

.theme-specific {
    transition: opacity 0.5s ease;
}

.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.logo {
    width: 120px;
    height: auto;
    filter: invert(100%);
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.05);
}

.header-title {
    margin: 2px;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.header-motto {
    margin: 2px;
    font-size: 16px;
    color: #d1d1d1;
    font-style: italic;
}

.header-quote {
    margin: 2px;
    font-size: 14px;
    color: #a1a1a1;
    font-style: italic;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-icon {
    width: 50px;
    height: auto;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.1);
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.generic-button {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #4a4a4a;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.generic-button:hover {
    background-color: #333333;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.right-side-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 150px;
    height: 150px;
}

.naruto-video-container {
    width: 100%;
    height: 100%;
}

.tv-container {
    position: relative;
    width: 180px;
    height: 150px;
    overflow: hidden;
}

.tv-frame {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.giphy-embed {
    position: absolute;
    top: 14%;
    left: 5%;
    width: 70%;
    height: 62%;
    object-fit: cover;
    z-index: 0;
}

body.naruto {
    background-size: cover;
    position: relative;
}

body.naruto::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}
