.userDetailContainer {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 12px;
    margin: 20px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 20px;
}

.userName {
    color: var(--highlight-color);
    margin-bottom: 15px;
    font-weight: bold;
}

.userDescription {
    margin: 10px 0;
    font-style: italic;
    color: var(--text-color-hover);
}

.userLocation,
.userOccupation {
    color: var(--secondary-color);
}

.loadingSpinner {
    display: block;
    margin: auto;
    color: var(--highlight-color);
}
